@font-face {
    font-family: "Din Pro";
    src: local('Din Pro'),
    url("../fonts/din_pro.ttf");
}

body {
    font: 12pt "Din Pro", sans-serif;
    background: url("../static/background1.jpg") repeat-x fixed 100%;
    background-size: cover;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f9f4ef;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-shadow: #f9f4ef 0 0 4px;
}

.my-link {
    text-decoration: none;
    color: #f9f4ef;
}

.my-link:hover {
    color: #f9f4ef;
    text-shadow: #f9f4ef 0 0 4px;
}

.text-color {
    color: #f9f4ef;
}